
.logo{
    background-image: url(./SCM-Logo.png);
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.87);;
    border: 3px solid black;
    width: 100%;
    height: 10em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-color: #23a454e8;
    color: rgb(29, 28, 29);
}

.leftBlock{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 50%;
    font-size: larger;
    display: block;
    background-color: rgba(255, 255, 255, 0.87);
    border: 3px dotted #ea644cbb;
    border-radius: 20px;
    padding: 2%;
    text-align: center;
}

.rightBlock
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: rgba(255, 255, 255, 0.87);
    border: 3px dotted #ea644cd3;
    border-radius: 20px;
    width: 65%;
    font-size: x-large;
    display: block;
}

#calculateButton{
    height: 40px;
    width: 100px;
    font-weight: bold;
    background-color: #ea644ccc;
    color: cornsilk;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    display: block;
}

footer{
    position: absolute;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    width: 100%;
}

select{
    width: 80px;
    height: 30px;
    font-size: 15px;
    text-align: center;
}

input{
    width: 80px;
    height: 30px;
    font-size: 15px;
}